* {
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #9C835F;  
}

.nav {
  display: flex;
  margin-left: 2rem;
}

.nav a {
  color: #724C21;
  text-decoration: none;
  font-size: 72px;
}

.nav a:hover {
  color: #F9B23D;
}

.back-button {
  display: grid;
  place-items: center;
}

.back-button:hover {
  transform: scale(1.2);
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.brand h1 {
  margin-left: 1rem;
  font-size: 36px;
  color: #F9B23D;
  cursor: default;
}

.brand img {
  height: 72px;
}

.game-box {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  font-size: 36px;
  letter-spacing: 0.1rem;
  cursor: default;
  margin-bottom: auto;
}

.hand {
  width: 50%;
}

.game-box button {
  background-color: transparent;
  border-color: transparent;
  width: 223px;
  height: 204px;
}

.human button:active {
  transform: scale(1.3);
}

.vs-refresh {
  align-self: flex-end;
}

.vs h1 {
  font-size: 144px;
  color: #BD0000;
  cursor: default;
}

.refresh img {
  width: 77px;
  transform: translateY(100%);
  padding-bottom: 3rem;
  cursor: pointer;
}

.human img {
  cursor: pointer;
}

.chosen {
  background-color: #C4C4C4 !important;
  border-radius: 30px;
}

.resultBox {
  background-color: #4C9654;
  border-radius: 10px;
  transform: rotate(-29deg);
  width: 261px;
  height: 170px;
  text-transform: uppercase;
  display: grid !important;
  place-items: center;
  margin-bottom: 9rem;
}

@media only screen and (max-width: 768px) {

  html {
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .nav a{
    font-size: 40px;
  }

  .brand h1 {
    font-size: 30px;
  }

  .brand img {
    height: 65px;
  }

  .user {
    display: flex;
    flex-direction: row;
  }

  .game-box {
    padding-bottom: 1.5rem;
  }

  .game-box button {
    width: 100px;
    height: 100px;
    margin: 0 1rem;
  }

  .chosen {
    border-radius: 10px;
  }

  .player-name {
    font-size: 30px;
    letter-spacing: 0.1rem;
    cursor: default;
    margin-bottom: 1rem;
  }

  .vs h1 {
    font-size: 70px;
  }

  .refresh img {
    width: 40px;
    transform: none;
  }

  .resultBox {
    width: 200px;
    height: auto;
    margin: 4rem;
  }

  .resultBox h1 {
    font-size: 30px !important;
  }
}